rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isSuperAdmin() {
      return isSignedIn() && request.auth.token.email == "walidghazal46@gmail.com";
    }

    match /paymentReceipts/{userId}/{fileName} {
      allow write: if isSignedIn() && request.auth.uid == userId;
      allow read: if isSignedIn() && (request.auth.uid == userId || isSuperAdmin());
      allow delete: if isSuperAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
